@model ChartTest.Models.ChartViewModel
@using System.Collections.Generic;
@using Chart.Mvc.ComplexChart;
@using Chart.Mvc.Extensions
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/Chart.js"></script>
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>*@
@{
    ViewBag.Title = "Index";
}
<canvas id="myCanvas" width="400" height="400"></canvas>
<div id="pie-chart-holder" style="width:40%">
    <canvas id="pie-chart" width="400" height="400"></canvas>
</div>

<script type="text/javascript">

    var valoresX = '@Model.ValuesX';
    var valoresY = '@Model.ValuesY';
    var ctx = document.getElementById("myCanvas").getContext("2d");
    //var data = JSON.parse('{"labels":["Jan","Fev","Mar","Abr","Mai","Jun"],"datasets":[{"label":"My First dataset","fillColor":"rgba(220,220,220,0.2)","strokeColor":"rgba(220,220,220,1)","pointColor":"rgba(220,220,220,1)","pointStrokeColor":"#fff","pointHighlightFill":"#fff","pointHighlightStroke":"rgba(220,220,220,1)","data":[10.0,20.0,12.0,18.0,26.0,40.0]}]}');
    var dataJson = '{"labels":[' + valoresX.replace(/#/g, '"') + '],"datasets":[{"label":"My First dataset","fillColor":"rgba(220,220,220,0.2)","strokeColor":"rgba(220,220,220,1)","pointColor":"rgba(220,220,220,1)","pointStrokeColor":"#fff","pointHighlightFill":"#fff","pointHighlightStroke":"rgba(220,220,220,1)","data":[' + valoresY + ']}]}';
    var data = JSON.parse(dataJson);
    var options = JSON.parse('{}');
    var myCanvas_chart = new Chart(ctx).Bar(data, options)

    var holder = document.getElementById("myCanvas");
    holder.onclick = function (evt) {
        var chartElement = myCanvas_chart.getBarsAtEvent(evt);
        if (chartElement.length != 0) {
            console.log(chartElement);
            console.log("value: " + chartElement[0].value);
            console.log("label: " + chartElement[0].label);
        }
    };

    //new Chart(document.getElementById("pie-chart"), {
    //    type: 'pie',
    //    data: {
    //        labels: ["Africa", "Asia", "Europe", "Latin America", "North America"],
    //        datasets: [{
    //            label: "Population (millions)",
    //            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
    //            data: [2478, 5267, 734, 784, 433]
    //        }]
    //    },
    //    options: {
    //        title: {
    //            display: true,
    //            text: 'Predicted world population (millions) in 2050'
    //        }
    //    }
    //});

</script>